<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="theme-color" content="#ffffff" />
  <meta name="msapplication-navbutton-color" content="#ffffff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff" />

  {% hook "seo" %}

  <link rel="shortcut icon" href="{{ siteUrl }}favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" sizes="16x16" href="{{ siteUrl }}favicons/16.png" type="image/png">
  <link rel="shortcut icon" sizes="32x32" href="{{ siteUrl }}favicons/32.png" type="image/png">
  <link rel="shortcut icon" sizes="96x96" href="{{ siteUrl }}favicons/96.png" type="image/png">

  {% do view.registerCssFile(rev(siteUrl ~ 'public/css/style.min.css?v=300820191240')) %}

  {% block headScripts %}{% endblock %}

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"></noscript>
  <script async src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function() {
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#69b9b6",
        "text": "#ffffff"
      },
      "button": {
        "background": "transparent",
        "text": "#ffffff",
        "border": "#ffffff"
      }
    },
    "content": {
      "message": "Wir verwenden cookies!",
      "dismiss": "Okay",
      "link": "Mehr informationen",
      "href": "{{ siteUrl }}datenschutz"
    }
  })});
  </script>

</head>
<body class="{% block bodyClass %}{% endblock %} {% if currentUser %}admin{% endif %}" data-barba="wrapper">

  {% set openingImage = entry.openingImage.one() %}

  <div class="wrap {% if openingImage %}has-intro-image{% endif %}">
    {% include '_layouts/_nav.twig' %}

    {% block main %}{% endblock %}

    {% include '_layouts/_footer.twig' %}
  </div>

<!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
{% do view.registerJsFile(rev(siteUrl ~ 'public/js/utility/lazysizes.min.js'), {"async": "async", "defer": "defer"}) %}
{% do view.registerJsFile(rev(siteUrl ~ 'public/js/main.min.js?v=300820191240')) %}
{% block scripts %}{% endblock %}
</body>
</html>
